body{
    background-color: black;
}
h1{
    font-size:3rem;
}
.poster
{
    width: 50%;
    margin-left: 25%;
    color: white;
    margin-top: 100px;
    font-family: "Libre Baskerville",scrif;
    text-align: center;
}
.mot-img
{
    border:5px solid white;
    width: 100%;
}